<div class="box">
  <div class="itemA">
    <div class="info">
      <h1 class="title">Hi, I am Onkar</h1>
      <div class="job"><span>Full Stack Developer</span></div>

      <p class="description">
        Experence in Data Science, web design and development, <br />producing
        quality work.
      </p>
      <div class="contact">
        <button routerLink="contact">Contact me</button>
      </div>
    </div>
  </div>
  <div class="image">
    <img src="../../assets/images/Three Filled.svg" alt="" width="500px"/>
  </div>
</div>











<!-- <div class="header-content">
  <div class="holder grid-2">
    <div class="column-1">
      <h1 class="title">Hi, I am Onkar</h1>
      <p class="text">
        Experience in Data Science, web design and development, <br />producing
        quality work.
      </p>
      <div>
        <a routerLink="contact" class="button">Contact Me</a>
      </div>
    </div>
    <div class="column-2 image"> -->
      <!-- <img src="../../assets/images/onkar1.png" alt="" /> -->
      <!-- <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
        <path fill="#8A3FFC" d="M48.8,-48.7C63.2,-34.5,74.5,-17.3,76.3,1.7C78,20.8,70.1,41.5,55.8,54.9C41.5,68.3,20.8,74.3,-1.1,75.4C-23,76.5,-46.1,72.8,-56.4,59.5C-66.6,46.1,-64.2,23,-60.6,3.6C-57,-15.9,-52.3,-31.8,-42,-45.9C-31.8,-60.1,-15.9,-72.5,0.7,-73.2C17.3,-73.9,34.5,-62.8,48.8,-48.7Z" transform="translate(100 100)" />
      </svg>
    </div>
  </div>
</div> -->
