.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "a a"
    "b c";

  margin: 0 200px;
  gap: 20px;
}

.itemA {
  /* background: #eee; */
  grid-area: a;
  text-align: center;
}

.itemB {
  /* background: #eee; */
  grid-area: b;
}

.itemC {
  /* background: #eee; */
  grid-area: c;
  padding: 40px;
}

img {
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 50px;
}

.download__button {
  margin-top: 50px;
}

.button {
  padding: 10px;
  background: #6f6bfa;
  color: white;
  text-decoration: none;
}
