<div class="box">
  <div class="itemA">
    <h2>About</h2>
    <div><span>My Introduction</span></div>
  </div>
  <div class="itemB">
    <img src="../../assets/images/undraw_happy_news_re_tsbd.svg" alt="" />
  </div>
  <div class="itemC">
    <div class="info">
      <div class="about__info">
        <!-- Description starts -->
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
          nostrum quos officiis totam itaque fugiat veniam necessitatibus nobis
          aliquid eaque consequatur perspiciatis, ipsa eius ipsum reiciendis
          voluptate. Laboriosam, nam ad.
        </p>
        <!-- Description ends -->

        <!--main starts-->
        <div class="main">
          <div class="about-info">
            <div><b>8+</b></div>
            <div>yeras</div>
            <div>experience</div>
          </div>

          <div class="about-info">
            <div><b>20+</b></div>
            <div>completed projects</div>
            <div>experience</div>
          </div>

          <div class="about-info">
            <div><b>5+</b></div>
            <div>companies</div>
            <div>worked</div>
          </div>
        </div>
        <!--main ends-->

        <!-- button starts -->
        <div class="download__button">
          <button>Download CV</button>
        </div>
        <!-- button ends -->
      </div>
    </div>
  </div>
</div>
