.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "a a"
    "b c";
  margin: 0 16.2337662vw;
  gap: 1.352813853vw;
  /* height: 50vh; */
}

.itemA {
  /* background: #eee; */
  grid-area: a;
  text-align: center;
}

.itemB {
  /* background: #eee; */
  grid-area: b;
}


img {
  transform: scaleX(-1);
}

.itemC {
  /* background: #eee; */
  grid-area: c;
}

.info {
  display: flex;
  flex-direction: row;
}

.about__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

button {
  border: none;
  outline: none;
  padding: 10px;
  background: #6f6bfa;
  color: white;
}
