.about__container {
}

.about__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 250px;
  margin-top: 50px;
}

img {
  margin-left: 200px;
  transform: scaleX(-1);
}

.about__info {
  margin-right: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

button {
  border: none;
  outline: none;
  padding: 10px;
  background: #6f6bfa;
  color: white;
}
