.box {
  height: 600px;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 0 5px 1px rgb(235, 235, 235);
}

.itemA {
  grid-area: a;
  text-align: center;
}

.itemB {
  grid-area: b;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.itemC {
  margin: 0 20px;
  margin-top: 35px;
}
