.box {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
}

.chatbot-container {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  background: #eee;
  box-shadow: 0 0 8px 1px rgb(202, 202, 202);
}

.conversation {
  /* width: 100%; */
  height: 100%;
  overflow: auto;
  background-color: rgb(192, 192, 255);


  display: flex;
  flex-direction: column-reverse;
  gap: 10px
}

.xyz{
  margin: 0 10px;
}

.in {
  display: flex;
  justify-content: flex-start;
}

.out {
  display: flex;
  justify-content: flex-end;
}
span {
  background-color: #eee;
  padding: 5px;
  border-radius: 10px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.input {
  width: 100%;

  border: none;
  outline: none;
  border-radius: 25px;
}

input[type="text"] {
  text-align: center;
  margin-right: 3px;
  padding: 5px;
}

.send-button {
  border: none;
  padding: 0 5px;
  border-radius: 5px;
  background: transparent;
  box-shadow: 1px 1px 2px 1px rgb(204, 204, 204);
}

.chatbox__button {
  text-align: right;
  margin-top: 20px;
}

/*scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
