<div class="box">
  <!-- Messenger starts -->
  <div class="chatbot-container" [style.opacity]="isactive">
    <!-- logo starts -->
    <div class="logo">
      <div><span class="logo-text">AI-Bot</span></div>
      <div>
        <span class="title-text">Hello, How can I help you today?</span>
      </div>
    </div>
    <!-- logo ends -->

    <!-- conversation starts -->
    <div class="conversation" #amit></div>

    <!-- conversation ends -->

    <!-- Input section start -->
    <div class="input-container">
      <input
        class="input"
        type="text"
        placeholder="Type here..."
        onfocus="this.placeholder=''"
        onblur="this.placeholder='Type here...'"
        #in
        (keyup.enter)="query($event.target)"
      />

      <div class="img">
        <button class="arrow" (click)="query(in)">
          <img src="../../assets/images/arrow.svg" alt="" />
        </button>
      </div>
    </div>
    <!-- Input section ends -->
  </div>
  <!-- Messenger ends -->

  <!-- widget starts -->
  <div class="chatbox__button">
    <button class="b" (click)="toggle()">
      <img src="../../assets/images/Component 1.svg" />
    </button>
  </div>
  <!-- widget ends -->
</div>


