<div class="conatct-container">
  <div class="header">
    <div class="title">
      <h2>Contact</h2>
    </div>
  </div>

  <div class="wrapper">
    <div class="contact-details">
      <div class="cb">
        <img
          src="../../assets/images/telephone.svg"
          alt=""
          width="48"
          height="48"
        />
        <div>+91 7338455256</div>
      </div>

      <div class="cb">
        <img
          src="../../assets/images/envelope.svg"
          alt=""
          width="48"
          height="48"
        />
        <div>onkarnath05@gmail.com</div>
      </div>

      <div class="cb">
        <img
          src="../../assets/images/geo-alt.svg"
          alt=""
          width="48"
          height="48"
        />
        <div>
          54/19, Canal Road, Kanpur <br />
          Uttar Pradesh, India
        </div>
      </div>
    </div>

    <div class="image">
      <img src="../../assets/images/undraw_contact_us_re_4qqt.svg" alt="" />
    </div>
  </div>
</div>
