.box {
  height: 600px;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 0 5px 1px rgb(226, 226, 226);
}

.itemA {
  text-align: center;
}

.itemB {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

.itemC {
  margin: 0 20px;
  margin-top: 30px;
}
