<div class="box">
  <!-- Messenger starts -->
  <div *ngIf="loginFlag" class="chatbot-container">
    <!-- logo starts -->
    <div class="logo" (click)="toggle()">
      <div>
        <div><span class="logo-text">AI-Bot</span></div>
        <div>
          <span class="title-text">Hello, How can I help you today?</span>
        </div>
      </div>

      <div class="close">
        <div class="dash"></div>
      </div>
    </div>
    <!-- logo ends -->

    <!-- conversation starts -->

    <div class="conversation">
      <div class="wrapper" #amit>
        <!-- <div><span class="inbox">hi</span></div> -->
      </div>
    </div>

    <!-- conversation ends -->

    <!-- Input section start -->
    <div class="input-container">
      <input
        class="input"
        type="text"
        placeholder="Pleae type your query here..."
        onfocus="this.placeholder=''"
        onblur="this.placeholder='Pleae type your query here...'"
        #in
        (keyup.enter)="query($event.target)"
      />

      <div class="img">
        <button class="arrow" (click)="query(in)">
          <img src="../../assets/images/arrow.svg" alt="" />
        </button>
      </div>
    </div>
    <!-- Input section ends -->
  </div>
  <!-- Messenger ends -->

  <!-- widget starts -->
  <div *ngIf="!loginFlag" class="chatbox__button">
    <button class="b" (click)="toggle()">
      <img src="../../assets/images/Component 1.svg" />
    </button>
  </div>
  <!-- widget ends -->
</div>
