<div class="skillmain__container">
  <div class="wrapper">
    <div class="skills__title">
      <h1>Skills</h1>
      <div><span>My technicals</span></div>
    </div>

    <div class="skill__content">
      <div class="description">
        <app-frontend></app-frontend>
        <app-backend></app-backend>
        <app-frontend></app-frontend>
      </div>

      <!-- Image -->
      <div class="image">
        <img src="../../assets/images/drawing1.svg" width="500px" height="600px"  />
      </div>
      <!-- Image Ends -->
    
    
    </div>
  </div>
</div>
