/*grid starts*/

.wrapper {
  height: 500vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 0.25vw;
  margin: 0 16.2337662vw;
  transform: translateY(-100%);
}

.item {
  background: rgba(255, 0, 0, 0.068);
}

/*grid ends*/

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 16.2337662vw;
}

.logo {
  /* background-color: red; */
  font-size: 2rem;
}

.nav {
  /* background-color: green; */
  display: flex;
  gap: 2vw;
  flex-wrap: wrap;
  font-size: 1.5rem;
  
}

a{
  color: black;
}
