<header class="header" id="header">
  <nav class="nav__logo">
    <div><a href="">Onkar</a></div>
  </nav>
  <nav class="nav__menu">
    <div>
      <a
        routerLinkActive="active"
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </div>
    <div><a routerLink="about">About</a></div>
    <div><a routerLink="skills">Skills</a></div>
    <div><a href="">Services</a></div>
    <div><a routerLinkActive="active" routerLink="/projects">Projects</a></div>
  </nav>
</header>
<router-outlet></router-outlet>

<div class="containe">
  <div class="wrapper">
      <div class="item item1"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item item12"></div>
  </div>

</div>
