/*grid starts*/

.wrapper {
  height: 500vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 0.25vw;
  margin: 0 200px;
  transform: translateY(-100%);
}

.item {
  background: rgba(255, 0, 0, 0.068);
}

/*grid ends*/

.footer {
  /* width: 100vw; */
  height: 25vh;
  background-color: rgb(255, 255, 255);
  margin-top: 50px;
}
