<h2>My Projects</h2>

<div class="contain">
  <div class="my-card">
    <img
      src="../../assets/images/dashboard.svg"
      class="card-img-top"
      alt="..."
    />
    <div class="cardBoby">
      <h5 class="cardTitle">Twitter Sentiment Analysis Dasboard</h5>
      <p class="cardText">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <button routerLink="twitter" class="btn btn-primary">Click here</button>
    </div>
  </div>

  <div class="my-card">
    <img src="../../assets/images/undraw_to_do_list_re_9nt7.svg" alt="" />
    <div class="cardBoby">
      <h5 class="cardTitle">Todo App</h5>
      <p class="cardText">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <button routerLink="todo" class="btn btn-primary">Click here</button>
    </div>
  </div>

  <div class="my-card">
    <img src="../../assets/images/undraw_chat_bot_re_e2gj.svg" alt="" />
    <div class="cardBoby">
      <h5 class="cardTitle">ChatBot</h5>
      <p class="cardText">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <button class="btn btn-primary">Click here</button>
    </div>
  </div>
</div>

<!-- <app-chatbot [login]="active"></app-chatbot> -->
