h2 {
  margin: 0 200px;
  margin-top: 50px;
  text-align: center;
}

.contain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: 0 200px;
  margin-top: 40px;
}

.my-card {
  flex-grow: 1;
  flex-shrink: 1;
  width: 27rem;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 0 5px 1px rgb(226, 226, 226);
}

.cardBoby {
  padding: 20px;
}

.cardTitle {
  margin-bottom: 12px;
}

img {
  width: 100%;
}
