h2 {
  margin: 0 200px;
  margin-top: 50px;
  text-align: center;
}

.contain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  column-gap: 40px;
  margin: 0 auto;
  margin-top: 40px;   
  width: fit-content;
}

.my-card {
  width: 27rem;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 0 5px 1px rgb(216, 216, 216);
}

.cardBoby {
  padding: 20px;
}

.cardTitle {
  margin-bottom: 12px;
}

img {
  width: 100%;
}
