<div class="home__container">
  <div class="home__data">
      <h1 class="title">Hi, I am Onkar</h1>
      <h3 class="job" >Full Stack Developer</h3>
      <p class="description" >Lorem ipsum, dolor sit amet consectetur adipisicing elit.<br>Sint tenetur molestiae quam quis dignissimos eveniet minima, <br>a officiis sit, voluptatum doloremque velit corrupti praesentium,<br> doloribus aut? <br>Autem obcaecati sed sint.</p>
      <button>Contact me</button>
  </div>

  <div class="img">
    <img src="../../assets/images/undraw_data_re_80ws.svg" width="600px" height="600px"  alt="" />
  </div>
</div>

<app-about></app-about>
<app-skills></app-skills>
