.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "a b";
  margin: 0 16.2337662vw;
  gap: 1.352813853vw;
}

.itemA {
  /* background: #eee; */
  grid-area: a;
}

.itemB {
  /* background: #eee; */
  grid-area: b;
}

img {
  width: 100%;
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  border: none;
  outline: none;
  padding: 10px;
  background: #6f6bfa;
  color: white;
}
